{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{% static 'img/cap_1.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Capitulo 1</h5>
        <p class="card-text">Esta sección trabaja con el conversor de numeros a numeros máquina, a su vez de que contiene los métodos más conocidos de búsqueda de raíces</p>
        <a href="#"><button type="button" class="btn btn-success w-100 my-1" ">Búsquedas Incrementales</button></a>
        <a href="{% url 'biseccion' %}"><button type="button" class="btn btn-success w-100 my-1">Método de Bisección</button></a>
        <a href=""><button type="button" class="btn btn-success w-100 my-1">Método de Regla Falsa</button></a>
        <a href=""><button type="button" class="btn btn-success w-100 my-1">Método de Punto Fijo</button></a>
        <a href=""><button type="button" class="btn btn-success w-100 my-1">Método de Newton</button></a>
        <a href=""><button type="button" class="btn btn-success w-100 my-1">Método de Newton M1</button></a>
        <a href=""><button type="button" class="btn btn-success w-100 my-1">Método de Newton M2</button></a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/cap_1.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Capitulo 2</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ut esse adipisci, quisquam ullam eligendi optio. Aliquid magni, a tenetur eveniet consequatur facilis nesciunt eius voluptas velit nam sint praesentium!</p>
      <button type="button" class="btn btn-warning w-100 my-1">Tema1</button>
      <button type="button" class="btn btn-warning w-100 my-1">Tema2</button>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/cap_1.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Capitulo 3</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aperiam veniam qui dolorum ipsam provident, quisquam in voluptatum reiciendis fugit commodi eligendi unde dolorem dolore. Nemo aut sunt hic non.</p>
      <button type="button" class="btn btn-danger w-100 my-1">Tema1</button>
      <button type="button" class="btn btn-danger w-100 my-1">Tema2</button>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
{% endblock content %}