{% extends 'template.html' %}
{% load static %}
{% block content %}

<div class="container-all">

    <div class="form">
        <h1 class="text-center">Interpolacion de lagrange</h1>
        <h6 class="text-center p-3">Nota: Este método se basa en matrices, por lo que los campos de vector X y vector Y tienen que ir acompañados de [] y cada numero separado por un espacio, ejemplo: [0 0 0] </h6>
        <form action="{% url 'lagrange' %}" method="post" id="form-all">
            {% csrf_token %}
            <label for="x" class="font-weight-bold">Vector X</label>
            <input type="text" class="form-control" placeholder="Escribe el vector x" name="x" required id="x">
            <label for="y" class="font-weight-bold">Vector Y</label>
            <input type="text" class="form-control" placeholder="Escribe el vector y" name="y" required id="y">

            <label for="export-txt">Exportar a .txt:</label>
            <select id="export-txt" name="export-txt">
                <option value="off">No</option>
                <option value="on">Sí</option>
            </select>
            <input type="submit" value="Submit" class="btn btn-danger" id="submitBtn">
        </form>
    </div>
    {{ div|safe }}
    {{ script|safe }}
</div>
<table class="table table-striped w-100 mt-3">
    <thead class="thead-dark">
        <tr>
            <th>funcion</th>
            <th>Mensaje</th>
        </tr>
    </thead>
    <tr>
        <td>{{funcion}}</td>
        <td>{{mensaje}}</td>
    </tr>
</table>
<h2>Tabla:</h2>
<table class="table table-striped w-100 mt-3">
{% for item in tabla %}
    <tr>
        <td>{{ item }}</td>
    </tr>
{% endfor %}
</table>




{% endblock content %}