<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js" crossorigin="anonymous"></script>
</head> 

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <i class="fa fa-bar-chart mr-2" aria-hidden="true"></i>
            <a class="navbar-brand" href="{% url 'index' %}">Análisis numérico</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav dropdown">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Capítulo 1
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Conversor Número Máquina</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Búsquedas incrementales</a>
                            <a class="dropdown-item" href="{% url 'biseccion' %}">Método de Bisección</a>
                            <a class="dropdown-item" href="#">Método de Regla Falsa</a>
                            <a class="dropdown-item" href="#">Método de Punto Fijo</a>
                          <a class="dropdown-item" href="#">Método de Newton</a>
                          <a class="dropdown-item" href="#">Método de Newton M1</a>
                          <a class="dropdown-item" href="#">Método de Newton M2</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Capítulo 2
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Si</a>
                          <a class="dropdown-item" href="#">Otro día</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Serguéi Kariakin</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Capítulo 3
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    

    <footer class="bg-light text-center py-3">
        <p>&copy; 2022 My Website. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>