{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="container-all">

    <div class="form">
        <form action="{% url 'test' %}" method="post">
            {% csrf_token %}
            <label for="exampleFormControlInput1" class="font-weight-bold">Función</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escribe la función" name="funcion">
            <label for="exampleFormControlInput1" class="font-weight-bold">Valor inicial</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escriba el inicio del rango" name="a">
            <label for="exampleFormControlInput1" class="font-weight-bold">Valor final</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escriba el final del rango" name="b">
            <label for="exampleFormControlInput1" class="font-weight-bold">Tolerancia</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escriba la tolerancia (valor del Error)" name="tol">
            <label for="exampleFormControlInput1" class="font-weight-bold">Número de iteraciones</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escriba el numero máximo de iteraciones" name="niter">
            <br>
            <input type="submit" value="Submit" class="btn btn-danger">
        </form>

    </div>
    <div class="graph">
        <img src="{% static 'img/cap_1.png' %}" alt="imagen">

    </div>
</div>
<!--
    <form action="{% url 'test' %}" method="post">
        {% csrf_token %}
        <input type="text" name="funcion" placeholder="Escribe la función">
        <input type="text" name="a" placeholder="Escribe el inicio del rango">
        <input type="text" name="b" placeholder="Escribe el final del rango">
        <input type="text" name="tol" placeholder="Tolerancia">
        <input type="text" name="niter" placeholder="Número máximo de iteraciones">
    
        <input type="submit" value="Submit">
    </form>
-->
<h3> Solución: {{sol}} </h3>
<h3> Iteraciones: {{iter}} </h3>
<h3> Mensaje: {{final}} </h3>

{% for i in tabla %}
<h3> {{i}} </h3>
{% endfor %}

<!--
    <img src="{{img}}" alt="imagen">
    <img src="data:image/png;base64,{{img.show}}" alt="imagen2">
    -->
{% endblock content %}