{% extends 'template.html' %}
{% load static %}
{% block content %}

<head>
    <!-- Incluir BokehJS -->
    <!--
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.1.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js" crossorigin="anonymous"></script>
        -->

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js" crossorigin="anonymous"></script>

    <!-- Incluir el script de la gráfica -->
    <!--
        {{ script|safe }}
        -->
</head>

<div class="container-all">

    <div class="form">
        <form action="{% url 'test' %}" method="post">
            {% csrf_token %}
            <label for="exampleFormControlInput1" class="font-weight-bold">Función</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Escribe la función"
                name="funcion">
            <label for="exampleFormControlInput1" class="font-weight-bold">Inicio del rango</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Escriba el inicio del rango" name="a">
            <label for="exampleFormControlInput1" class="font-weight-bold">Final del rango</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Escriba el final del rango" name="b">
            <label for="exampleFormControlInput1" class="font-weight-bold">Tolerancia</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Escriba la tolerancia (valor máximo del Error)" name="tol">
            <label for="exampleFormControlInput1" class="font-weight-bold">Número de iteraciones</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Escriba el numero máximo de iteraciones" name="niter">
            <br>
            <input type="submit" value="Submit" class="btn btn-danger">
        </form>
    </div>

    <!-- JOVEN PILLE -->
    {{ div|safe }}
    {{ script|safe }}

</div>




<!-- JOVEN PILLE -->
<!--
<div class="graph">
    <img src="data:image/png;base64,{{img}}" style="width: 700px; height: 500px;">
</div>
-->


<!-- JOVEN PILLE -->
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>i</th>
            <th>x</th>
            <th>f(x)</th>
            <th>error</th>
        </tr>
    </thead>
    <tbody>
        {% for iteracion in tabla %}
        <tr>
            <td scope="row">{{iteracion.i}}</td>
            <td>{{iteracion.x}}</td>
            <td>{{iteracion.fx}}</td>
            <td>{{iteracion.err}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<p> Solución: {{solucion}} </p>
<p> Iteraciones: {{iteraciones}} </p>
<p> Mensaje: {{mensaje}} </p>

{% endblock content %}